body {
	/* https://uigradients.com/#MoonlitAsteroid */
  	background: #0F2027;  
	background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027) fixed; 

	height: 100vh;
	overflow: hidden;
}

#rain {
	max-width: 1920px;
	margin: 0 auto;

	position: relative;
}

.drop {
  	background: linear-gradient(to bottom, #222, #fff);

	width: 1px;
	height: 90px;

	position: absolute;

	animation: fall 600ms linear infinite;
}

@keyframes fall {
	100% {
		margin-top: 1080px;
	}
}


